@import url('grid.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

a {
    color: #474C5F;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*a:hover {
  color: #6D00F3 !important;
}
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}


html,
body {
    position: relative;
    overflow-x: hidden;

    font: 400 12px/1em 'Inter', sans-serif;
    color: #474C5F;
    min-height: 100%;
    height: 100%;

}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    font-size: 10px;
    color: #B2B2B2;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    font-size: 10px;
    color: #B2B2B2;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 10px;
    color: #B2B2B2;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    font-size: 10px;
    color: #B2B2B2;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[type="number"] {
    -moz-appearance: textfield;
}

input:not([type="submit"]) {
    font: 400 12px/1em 'Inter', sans-serif;

    font-weight: 900;
    font-size: 14px;
    color: #6D00F3;

    padding: 13px 25px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px #F7F8FC;
    border-radius: 26.5px;
    border: 0;
    outline: 0;
}

.w100 {
    max-width: 100% !important;
    width: 100% !important;
}


.main-wrapper {
    position: relative;
}

.header-section {
    margin-bottom: 26px;
}

.header-section_top-area {
    font-size: 10px;
    padding: 17px 0;
}

.top_links a {
    font-weight: 400;
    line-height: 130%;
    color: #14161D;
    margin-right: 25px;
}

.top_links a.activeTopNav {
    color: #6D00F3;
}

.top_marketInfo_item {
    color: #B2B2B2;
}

.top_marketInfo_item span {
    color: #FF0052;
    font-weight: 500;
}

.mr19 {
    margin-right: 19px;
}

.mr57 {
    margin-right: 57px;
}

.dropdown-element {
    position: relative;
}

.dropdown-element a {
    display: block;
    color: #474C5F;
}

.dropdown-element>a {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.dropdown-element>a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 3px;
    margin-right: 7px;
    background: url(../images/arrow.svg) center no-repeat;
    transition: all .2s ease-in-out;
}

.dropdown-element:hover a:before {
    transform: rotate(180deg);
}

.dropdown-element ul {
    width: 120px;
    top: 100%;
    left: -15%;
    right: -15%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);
    box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);
}

.dropdown-element ul a {
    display: block;
    padding: 10px 20px;
    word-break: break-all;
}

.dropdown-element:hover ul {
    opacity: 1;
    visibility: visible;
}

.darkMode-switcher {
    position: relative;
    width: 49px;
    height: 25px;
    background: #F7F8FC;
    border-radius: 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.darkMode-switcher-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #6D00F3;
    transition: all .3s ease-in-out;
}

.darkMode-switcher-actived .darkMode-switcher-btn {
    right: calc(100% - 25px);
}

.darkMode-switcher-actived {
    background: #9976c3;
}

.iconEl {
    display: inline-block;
    vertical-align: middle;
}


.search-icon {
    width: 20px;
    height: 20px;
}

.scheme-icon {
    width: 16px;
    height: 17px;
}

.exit-icon {
    width: 11px;
    height: 11px;
}

.filter-icon {
    width: 10px;
    height: 10px;
}

.DarkMode {
    background: #2C2C2C;
}


.header-section_top-navbar {
    padding: 15px 24px;
    background: #F7F8FC;
    box-shadow: 0px 4px 6px #FBFBFB;
    border-radius: 10px;
}

.walletLogoEl {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.walletLogoEl img {
    margin-right: 9px;
}

.walletLogoEl * {
    display: inline-block;
    vertical-align: top;
}

.MainNavbar ul>li {
    margin-left: 16.5px;
    margin-right: 16.5px;
}

.MainNavbar ul li a {
    font-size: 13px;
}

.MainNavbar ul li.activeNav a {
    color: #6D00F3;
}

.MainNavbar ul>li>ul a {
    padding-left: 0;
    padding-right: 0;
}

.userBox-avatar {
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-left: 19px;
}

.userBox-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.userBox-name {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #6D00F3;
}

.userBox-exit {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -7.5px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    width: 15px;
    height: 15px;
    background: #6D00F3;
    border-radius: 7.5px;
}

.userBox-name:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 3px;
    margin-right: 7px;
    background: url(../images/arrow-purple.svg) center no-repeat;
    transition: all .2s ease-in-out;
}

.userFinanceBox {
    margin-bottom: 26px;
    border-radius: 10px;
}

.userFinanceBoxGradientBg {
    display: none;
    position: relative;
    width: 100%;
    height: 12px;
    margin-top: 26px;
    margin-bottom: -1px;
}

.userFinanceBoxGradientBg span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.userFinanceBoxGradientBg span:first-child {
    z-index: 3;
    width: 90%;
    top: -3px;
    background: #6D00F3;
    filter: blur(1px);
}

.userFinanceBoxGradientBg span:nth-child(2) {
    z-index: 2;
    width: 80%;
    top: -6px;
    background: #FF0052;
    filter: blur(3px);
}

.userFinanceBoxGradientBg span:last-child {
    z-index: 0;
    width: 70%;
    top: -9px;
    background: #FFBF00;
    filter: blur(4px);
}


.BalanceBox {
    padding-top: 28px;
    padding-left: 19px;
    margin-bottom: 28px;
}

.BalanceBox-amount {
    font-weight: 700;
    font-size: 28px;
    line-height: 1em;
    color: #6D00F3;
    margin-bottom: 13px;
}

.BalanceBox-amount span {
    position: relative;
    display: inline-block;
    color: #474C5F;
    font-weight: 900
}

.BalanceBox-amount span:after {
    content: '';
    position: absolute;
    right: -25px;
    top: 0;
    width: 19px;
    height: 19px;
    background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.45 2.08087H8.569V6.14372L9.519 6.72349L10.4481 6.14372V2.08087H10.45ZM0 0V2.08087H19V0H0Z' fill='%23474C5F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 8.4948L17.2767 3.59375H19V19.0003H17.2767V6.00944L9.5 10.9105L1.7822 6.00944V19.0003H0V3.59375H1.7328L9.5 8.4948Z' fill='%23474C5F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.50779 13.4042L15.8272 9.34356L15.8405 11.7503L10.4521 15.2109V18.9996H8.57299V15.2176L3.15039 11.7345L3.16559 9.33008L9.50779 13.4042Z' fill='%23474C5F'/%3E%3C/svg%3E%0A");
}


.BalanceBox-actions a {
    font-size: 12px;
    margin-right: 21px;
    color: #6D00F3;
}

.BalanceBox-actions a:hover {
    text-decoration: underline;
}

/*.depositLink {
  color: #0ABAB5;
} .exchangeLink {
  color: #6D00F3;
} .convertLink {
  color: #474C5F;
}*/

.fshrink0 {
    flex-shrink: 0;
}

.scanner-user-info {
    display: none;
}

.scanner-user-info-fio {
    display: block;
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 5px;
    color: #6D00F3;
}

.scanner-user-instr {
    display: block;
    font-weight: 400;
    font-size: 10px;
    color: #474C5F;
}


.securityBox {
    width: 100%;
    padding: 31px 35px;
    border: 0.5px dashed #B2B2B2;
    border-radius: 10px;
}

.shield-icon {
    width: 50px;
    height: 50px;
}

.securityBox .iconEl {
    flex-shrink: 0;
}

.securityBox-text {
    margin-left: 25px;
}

.securityBox-text-heading {
    font-weight: 700;
    font-size: 12px;
    color: #474C5F;
    margin-bottom: 6px;
}

.securityBox-text-caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: #474C5F;
}


.scannerBox {
    width: 100%;
    padding: 30px 33px;
    background: #F7F8FC;
    border-radius: 10px;
}


.scanner-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 20px
}

.scannerBox-scannerInfo {
    display: flex;
}

.scannerBox-scannerInfo-addressArea {
    margin-left: 13px;
}

.scannerBox-scannerInfo-label {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1em;
    color: #474C5F;
    margin-bottom: 10px;
}

.scannerBox-scannerInfo-label i {
    margin-left: 13px;
}

.scannerBox-scannerInfo-address {
    display: block;
    word-break: break-all;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #6D00F3;
}


.logoIcon {
    width: 15px;
    height: 15px;
    background: url(../images/logoPatterrn.png) no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.iconEl.duplicate-icon {
    width: 13px;
    height: 15px;
}


.scannerBox-inputArea {
    flex-grow: 1;
    padding-top: 23px;
    margin-top: 23px;
    margin-bottom: 20px;
    border-top: 1px solid #E7E5FA;
}

.scannerBox-inputArea [type="submit"] {
    margin-left: 15px;
}

.scannerBox-inputArea input:not([type="submit"]) {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}


.btnEl {
    display: block;
    font: 400 12px/1em 'Inter', sans-serif;
    padding: 14px 30px;
    background: #6D00F3;
    border-radius: 20px !important;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.btnEl:hover {
    background: #6523B7;
    box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);
}

.btnEl:focus {
    background: #6D00F3;
    box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);
}

.btnEl:active {
    background: #FF0052;
}

.btnEl:disabled {
    color: #F7F8FC;
    background: #B2B2B2;
}


.scannerBox-Input {
    position: relative;
    flex-grow: 1;
}

.scannerBox-Input .logoIcon {
    position: absolute;
    left: 22px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.scannerBox-Input .scanner-icon {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;
}

.scannerTransactionInfo {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #B2B2B2;
    gap: 0 15px;
}


.btnType {
    transition: all .01s ease-in-out;
}

.btnType:active {
    transform: scale(.8);
}


.asideToolbar-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    padding-top: 150px;
    left: -105px;
    max-width: 100px;
    height: 100%;
}

.asideToolbar {
    position: sticky;
    top: 30px;
    width: 100%;
    padding: 25px;
    background: #F7F8FC;
    border-radius: 10px;
}

.asideToolbar .container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.asideToolbar .asideToolbar__item {
    display: block;
}

.asideToolbar .asideToolbar__item:not(:last-child) {
    margin-bottom: 30px;
}

.asideToolbar__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(101, 35, 183, 0.19);
}

.asideToolbar__item-icon svg {
    width: 18px;
    height: 18px;
}

.asideToolbar__item-icon svg path {
    stroke: #6D00F3;
}

.asideToolbar__item-text {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    color: #474C5F;
}

.asideToolbar__item-active .asideToolbar__item-icon,
.asideToolbar__item:hover .asideToolbar__item-icon {
    background: #6D00F3;
}

.asideToolbar__item-active .asideToolbar__item-icon svg path,
.asideToolbar__item:hover .asideToolbar__item-icon svg path {
    stroke: #fff;
}


.secBox {
    margin-bottom: 26px;
}

.secBox,
.tableEl-wrapper {
    width: 100%;
    padding: 36px 39px;
    background: #F7F8FC;
    border-radius: 10px;
}

.secBox,
.tableEl-pre-heading {
    margin-bottom: 39px;
}

.secBox-heading,
.tableEl-pre-heading__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #474C5F;
    flex-grow: 1;
}

.tab-menu.tableEl-pre-heading li {
    flex-grow: initial;
}

.secBox-heading span {
    color: #B2B2B2;
}

.searchInput {
    display: block;
    max-width: 252px;
    width: 100%;
    position: relative;
}

.searchInput input {
    width: 100%;
    padding-right: 45px;
}

.searchInput .iconEl {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
}



.tableEl {
    width: 100%;
    display: table;
    border-collapse: separate;
    font-size: 12px;
    word-break: break-all;
}

.tableEl-header {
    font-size: 9px;
}


.tableEl-header-shown-responsive .tableEl-header {
    display: table-row !important;
}

.tableEl-header-shown-responsive {
    display: table !important;
}


.tableEl-header,
.tableEl-row {
    display: table-row;
}

.tableEl-row-cell,
.tableEl-header-col {
    display: table-cell;
}

.tableEl-header .tableEl-header-col {
    border-bottom: 1px solid #D8E7FF;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.tableEl-row {
    position: relative;
    color: #474C5F;
}

.tableEl-row .tableEl-row-cell {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D8E7FF;
}

.tableEl-row .tableEl-row-cell:first-child {
    font-size: 13px;
}

.coinType {
    padding-left: 22px;
    padding-right: 17px;
}

.coinType .coinEl {
    width: 15px;
    margin-right: 8px;
}

.purpleCol {
    color: #6D00F3;
}

.greenCol {
    color: #0ABAB5;
}


.dateTime {
    color: #14161D;
}

.taType {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 43px;
    height: 17px;
    background: #ccc;
    border-radius: 2px;
    font-weight: 700;
    font-size: 8px;
    color: #fff;
}

.taType-In {
    color: #00925D;
    background: #83EDD8;
}

.taType-Out {
    background: #FFBF00;
    color: #9A7300;
}

.taType-Error {
    background: #FF0052;
    color: #9F0000;
}

.sum-growth {
    color: #0ABAB5;
}

.sum-growth path {
    fill: #0ABAB5;
}

.sum-loss {
    color: #FF0052;
}

.sum-loss path {
    fill: #FF0052;
}

.logoIcon-sm {
    width: 9px;
    height: 9px;
}


.duplicate-icon {
    display: block;
    width: 9px;
    height: 10px;
    background: url(../images/duplicate.svg) center no-repeat;
}

.view-icon {
    display: block;
    width: 11px;
    height: 11px;
    background: url(../images/view.svg) center no-repeat;
}


.tableBtn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.tableEl-footer-filters {
    color: #474C5F;
    padding: 30px 0 0;
}

.tableEl-footer-filters_paging>span {
    margin-right: 11px;
}

.tableEl-footer-filters_paging-pages li:not(:last-child) {
    margin-right: 19px;
}

.acitvePage a,
.tableEl-footer-filters_paging-pages li a:hover {
    color: #6D00F3;
}

.tableEl-filter-items a {
    font-weight: 500;
    font-size: 10px;
    text-decoration-line: underline;
    color: #6D00F3;
    margin-top: 15px;
    margin-left: 11px;
    margin-right: 11px;
    text-align: center;
}

.tableEl-filter-items a:hover {
    text-decoration: none;
}

.mobile-only {
    display: none;
}


.MainNavbar__searchBtn {
    z-index: 1;
}

.searchInput.MainNavbar__search {
    max-width: 250px;
    height: 43px;
    display: none;
}

.searchInput.MainNavbar__search input {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    padding-left: 15px;
}

.dropdown-element.dropdown-element-lang ul {
    right: 0;
    left: initial;
}

.tbSeperator {
    display: none;
    width: 100%;
    height: 1px;
}

.userFinanceBox.userFinanceBoxTransactions {
    padding: 33px 36px;
    border: 0.5px solid #B2B2B2;
    background: #fff;
}

.searchInput-grey input {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #B2B2B2;
    background: #F7F8FC;
}

.finance-items {
    margin-top: 22px;
}

.finance-item-info {
    display: flex;
}

.finance-item-info-icon {
    flex-shrink: 0;
    margin-right: 11px;
}

.finance-item-info-content__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #474C5F;
    margin-bottom: 7px;
}

.finance-item-info-content__val {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: #6D00F3;
}

.secBox-pdSm,
.tableEl-wrapper.tableEl-wrapper-pdSm {
    padding: 29px 24px;
}

.sm-txt,
.BlockTime {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #B2B2B2;
    margin-top: 5px;
}

.txtBefore span {
    color: #B2B2B2;
}

.chartEl#myChart.chartEl {
    height: 100px !important;
}

.chartEl#myChartTrans.chartEl {
    height: 260px !important;
}

.chartHeading {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: #474C5F;
}

.sep-border-right {
    border-right: 0.5px solid #B2B2B2;
    padding-right: 45px;
}


.secBox-list {
    margin-top: 20px;
    word-break: break-all;
}

.secBox-list__item {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #474C5F;

    padding: 14px 0;
    border-bottom: 1px solid #D8E7FF;
}

.secBox-list__item>div {
    display: inline;
}

.secBox-list__item-label {
    max-width: 256px;
    width: 100%;
    flex-shrink: 0;
    text-transform: uppercase;
}

.secondary_txt {
    color: #B2B2B2;
}

.purple-hl {
    color: #6D00F3;
}


.secBox-list__total {
    padding-top: 70px;
}

.secBox-list__total .secBox-list__item {
    border: 0;
}

.secBox-list__total .secBox-list__item-txt {
    font-weight: 700;
}


@media (min-width: 992px) {
    .widerCol {
        width: 240px;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .widerCol {
        width: 350px;
    }
}


.tab-main-box .tab-box:not(:first-child) {
    display: none;
}

.tab-menu.tableEl-pre-heading li:not(:last-child) {
    margin-right: 30px;
}

.tab-menu.tableEl-pre-heading .tableEl-pre-heading__title a:hover {
    text-decoration: underline;
}

.tab-menu.tableEl-pre-heading .tableEl-pre-heading__title a:not(.active) {
    color: #6D00F3;
}

.blockSearchArea {
    margin-top: 57px;
    margin-bottom: 47px;
}

.blockSearchArea label {
    max-width: 646px;
}

.secBox-list-items-between .secBox-list__item-label {
    width: initial;
}

.secBox-list-items-between .secBox-list__item {
    justify-content: space-between;
}

.secBox-list-items-between .secBox-list__item-label {
    text-transform: none;
}

.secBoxBtn {
    display: block;
    margin-left: 12px;
}

.mgtSm {
    margin-top: 15px;
}

.chartTabArea {
    max-width: 815px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.tableEl-wrapper .tableSearch {
    max-width: 20px;
    height: 22px;
    width: 100%;
}

.tableEl-wrapper .tableSearch input {
    top: -11px;
    right: -15px;
}

.tableEl-wrapper .tableSearch .iconEl {
    position: relative;
    right: 0;
    left: 0;
}

.onlydesktop {
    display: table-cell;
}

.searchInput.searchInputR input {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.col-full-width {
    width: 100% !important;
}

.overflow-str-fw {
    max-width: 100% !important;
    width: 100% !important;
}

.secBox-list__total .secBox-list__item {
    flex-direction: row;
}

.secBox-list__total .secBox-list__item-label {
    max-width: 100px;
    flex-shrink: initial;
}

.tableEl-center {
    text-align: center;
}

.hide {
    display: none !important
}

.mb-10 {
    margin-bottom: 10px;
}

.TokenBox {
    width: 100%;
    padding: 30px 1px;
    font-size: 14px;
    line-height: 1.3;
}

.access .title {
    font-size: 21px;
    margin-bottom: 10px;
}


.access {
    text-align: center;
    margin-top: 50px;
}

.access .desc {
    margin: 20px 0;
}

.TokenBox a {
    color: #6D00F3
}

.transAddress .addr-cut a {
    color: #6D00F3
}